{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="banner" >
    <img src="{% static 'img/somos.jpg' %}" alt="" class="banner__img">
    <div class="contenedor">
        <h2 class="banner__titulo">QUIÉNES SOMOS</h2>
        <p class="banner__txt">NUESTRO EQUIPO</p>

    </div>


</div>
<div class="contenedor">
    <section class="info">
            <article class="info__columna">
                
                <h2 class="info__titulo">Quiénes Somos</h2>
                <p class="info__txt">DiseñaWeb es una mediana empresa, creada por 2 estudiantes de informatica con el objetivo de plantear nuevas maneras de llevar a cabo
                    el diseño y gestión de paginas web, por medio de cursos innovadores los cuales estan pensados para satisfacer las necesidades de nuestros clientes.
                </p>
            </article>
            <article class="info__columna">
                
                    <h2 class="info__titulo">Nuestra Visión</h2>
                    <p class="info__txt">Queremos que las personas se sientan parte de la evolución digital y tecnologica, para así crear más innovadores que aporten a la sociedad.</p>
                </article>
            <article class="info__columna">
                
                <h2 class="info__titulo">Nuestro Proposito</h2>
                <p class="info__txt">Inventar, innovar, evolucionar y sobretodo ser parte de una nueva generación donde cada uno pueda trabajar para si mismo y para las personas. </p>
            </article>
            
        </section> 
       
        

</div>

        
        
    
    
{% endblock %}    
